body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif; /* Maintain the sans-serif font */
  background-color: #f4f4f4; /* Light gray background */
}

.button-wrapper {
  position: relative;
}

.custom-button {
  position: relative;
  background-color: #4eb6b9; /* Blue background */
  color: white; /* White text */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  clip-path: polygon(0 0, 100% 0, calc(100% - 15px) 100%, 0 100%);
  z-index: 2;
}

.custom-button:hover {
  background-color: white; /* White background on hover */
  color: #4eb6b9; /* Blue text on hover */
}

.button-border {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 88%;
  height: 0%;
  clip-path: polygon(0 0, 100% 0, calc(100% - 16px) 100%, 0 100%);
  border: 21px solid #4eb6b9;
  z-index: 1;
  pointer-events: none;
}
