.first {
  &__heading {
    display: grid;
    grid-column: 1 /-1;
    grid-row: 1 / 2;
    background-color: $color-blue-dark;
    justify-items: end;
    align-content: center;

    &--link,
    &--link:visited {
      align-self: center;
      text-decoration: none;
      color: $color-white;
      margin-right: 5rem;
      font-size: 1.6rem;
      font-weight: 400;
      padding: 1rem 2rem;
    }
  }
  &__title {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;

    margin-left: 5rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding: 1rem 4rem;
    font-size: 5rem;
    font-weight: 700;
    gap: 0.5rem;
    line-height: 1;
    border-right: 3px solid $color-grey-light;
    color: $color-blue-dark;
  }

  &__logo {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-right: 5rem;
    margin-top: 2rem;
    // display: grid;
    align-content: center;
    justify-content: start;

    &--img {
      display: block;
      height: 100%;
      max-width: 50rem;
      object-fit: contain;
    }
  }
  &__ring {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    align-self: self-start;
    justify-self: end;
    transform: translateX(-65%) translateY(20%) rotate(330deg);
    position: relative;
    &--img {
      position: absolute;
      top: -20rem;
      right: -10rem;
      height: 90rem;
      width: 90rem;
    }
  }
}

.btn__wrapper {
  &--1 {
    @extend %wrapper;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  &--2 {
    @extend %wrapper;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  &--3 {
    @extend %wrapper;
    margin-left: 0.3rem;
  }
}

.btn {
  margin-left: 9rem;
  position: relative;
  border: none;
  padding: 0.5rem 0.5rem;
  padding-right: 12.1rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.3s;
  clip-path: polygon(0 0, 100% 0, calc(100% - 3.5rem) 100%, 0 100%);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: start;

  &__dark-blue {
    padding-right: 5.1rem;
    background-color: $color-blue-dark;
    color: $color-white;
    z-index: 2;
    backface-visibility: hidden;

    &:hover {
      background-color: $color-white;
      color: $color-blue-dark;
    }
  }
  &__light-blue {
    background-color: $color-blue-light;
    color: $color-white;
    z-index: 2;
    backface-visibility: hidden;

    &:hover {
      background-color: $color-white;
      color: $color-blue-light;
    }

    &:hover ~ .triangle {
      transform: translateY(-10rem);
      transform: translate(500%, 450%); /* Adjust position */
    }
  }

  &__text {
    display: flex; /* Align items horizontally */
    align-items: center; /* Align items vertically */
    justify-content: center; /* Center the content */
    text-align: center;
    white-space: nowrap;
    &--span {
      display: inline-block;
      margin-left: 0.5rem;
      text-align: center;
      line-height: 1;
      font-size: 1.5rem;
      margin-bottom: 0.4rem;
    }
  }

  &__pink {
    margin-left: 0;
    padding: 1.5rem 2rem;
    padding-right: 18rem;
    background-color: $color-pink-dark;
    color: $color-white;
    z-index: 2;
    backface-visibility: hidden;

    display: inline-flex; /* Flexbox for alignment */
    align-items: center;

    &:hover {
      background-color: $color-white;
      color: $color-pink-dark;
    }
    &.active:hover {
      background-color: $color-blue-light;
      color: $color-white;
      transition-delay: 0.4s;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: $color-blue-light;
      transform: scaleY(0);
      transition: transform 0.2s, width 0.2s cubic-bezier(1, 0, 0, 1) 0.1s,
        background-color 0.1s;
    }
    &.active::before {
      transform: scaleY(1);
      width: 100%;
    }
  }

  &__border {
    position: absolute;
    top: -3px;
    left: -3px;
    padding: 0;
    // border-width: 0.2rem;
    border-style: solid;
    pointer-events: none;

    z-index: 1;

    &--light {
      clip-path: polygon(0 0, 100% 0, calc(100% - 3.7rem) 100%, 0 100%);
      border: 2.9rem solid $color-blue-light;
      width: 32.5rem;
      backface-visibility: hidden;
    }

    &--dark {
      clip-path: polygon(0 0, 100% 0, calc(100% - 3.7rem) 100%, 0 100%);
      border: 2.9rem solid $color-blue-dark;
      width: 37.3rem;
      backface-visibility: hidden;
    }

    &--pink {
      transform: translate(-31%, -0.5%);
      clip-path: polygon(0 0, 100% 0, calc(100% - 4rem) 100%, 0 100%);
      border: 2.8rem solid $color-pink-dark;
      width: 29.2rem;
    }
  }

  &__img--mail {
    width: auto;
    transition: all 0.2s;
    backface-visibility: hidden;
  }

  &__img--mail:hover {
    content: url(../public/icn_mail_hover.svg);
  }
  &__img--mail:active {
    content: url(../public/icn_mail_down.svg);
  }
  &__img--pi {
    width: auto;
    transition: all 0.2s;
    backface-visibility: hidden;
  }

  &__img--pi:hover {
    content: url(../public/icn_pi_hover.svg);
  }
  &__img--pi:active {
    content: url(../public/icn_pi_down.svg);
  }

  &__text {
    text-transform: uppercase;
  }
}

.triangle {
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1.5rem solid $color-blue-light; /* Same color as the button */
  position: absolute;
  left: 0%; /* Center horizontally */
  top: 0%; /* Position below the button */
  transform: translate(500%, 400%); /* Adjust position */
  margin-top: 5px; /* Adjust space between button and triangle */
}

.second {
  &__wrapper {
    background-color: $color-white;
    grid-column: 1 / 2;
    width: fit-content;
    margin-left: 9rem;
    margin-bottom: -10rem;
    z-index: 5;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
  }

  &__heading {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.6rem;
    background-color: $color-blue-light;
    color: $color-white;
    padding: 2rem 4rem;
    padding-left: 5rem;
  }

  &__ring {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    transform: translateX(-65%) translateY(20%) rotate(330deg);
    position: relative;
    &--img {
      position: absolute;
      top: -40rem;
      right: -15rem;
      height: 90rem;
      width: 90rem;
    }
  }
}

.form {
  background-color: $color-white;
  margin: 0 auto;
  padding: 2rem 5rem 5rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;

  &__row--wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }

  &__group {
    display: flex;
    flex-direction: column;

    &--2 {
      flex: 1;
    }
  }

  &__input {
    padding: 2rem 4rem;
    background-color: $color-grey-light;
    border: none;
  }

  &__label {
    text-transform: uppercase;
    font-weight: 500;
    color: $color-blue-light;
    font-size: 1.6rem;
  }
}

/////////////////
/// checkboxes

.checkbox__container {
  text-align: left;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  height: 4rem;
  user-select: none;
  /* margin: 25px 0; */
  word-wrap: break-word;
  padding-left: 5rem;

  & span {
    display: inline-block;
    color: $color-blue-light;
    font-weight: bold;
  }

  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  & input:checked ~ .checkmark {
    background-color: $color-blue-light;
    color: $color-white;
  }

  &:hover input ~ .checkmark {
    background-color: $color-grey-dark;
  }

  & input:checked ~ .checkmark:after {
    display: block;
  }

  & label {
    text-align: center;
  }

  & b {
    color: $color-blue-light;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    word-wrap: break-word;
  }
}

.checkmark {
  position: absolute;
  left: 0;
  height: 3.3rem;
  width: 3.3rem;
  background-color: $color-grey-light;
  border: 1px solid $color-blue-light;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.checkmark:after {
  right: 1rem;
  top: 0.6rem;
  width: 1rem;
  height: 1.5rem;
  border: solid $color-white;
  border-width: 0 0.4rem 0.4rem 0;
  transform: rotate(45deg);
}

.invalid {
  border: 2px solid red;
}

.form__required.error {
  color: red;
}

.success {
  padding-left: 10rem;
  z-index: 10;
}

.active {
  padding-right: 8rem;
}

.final {
  transform: translate(-31%, -0.5%);
  clip-path: polygon(0 0, 100% 0, calc(100% - 4rem) 100%, 0 100%);
  border: 2.8rem solid $color-blue-light;
  width: 29.2rem;
  transition: all 0.2s;
}
