.first {
  &__heading {
    display: grid;
    grid-column: 1 /-1;
    grid-row: 1 / 2;
    background-color: $color-blue-dark;
    justify-items: end;
    align-content: center;

    &--link,
    &--link:visited {
      align-self: center;
      text-decoration: none;
      color: #fff;
      margin-right: 5rem;
      font-size: 1.6rem;
      font-weight: 400;
      padding: 1rem 2rem;
    }
  }
  &__title {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;

    margin-left: 5rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding: 1rem 4rem;
    font-size: 5rem;
    font-weight: 700;
    gap: 0.5rem;
    line-height: 1;
    border-right: 3px solid #ddd;
    color: $color-blue-dark;
  }

  &__logo {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-right: 5rem;
    margin-top: 2rem;
    // display: grid;
    align-content: center;
    justify-content: start;

    &--img {
      display: block;
      height: 100%;
      max-width: 50rem;
      object-fit: contain;
    }
  }
  &__ring {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    align-self: self-start;
    justify-self: end;
    transform: translateX(-65%) translateY(20%) rotate(330deg);
    &--img {
      width: 300%;
    }
  }
}

.btn__wrapper {
  &--1 {
    @extend %wrapper;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    transition: all 0.2s;
    backface-visibility: hidden;
  }
  &--2 {
    @extend %wrapper;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    position: relative;
    transition: all 0.2s;
    backface-visibility: hidden;
  }
}

.btn {
  margin-left: 9rem;
  position: relative;
  border: none;
  padding: 0.5rem 0.5rem;
  padding-right: 12.1rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.3s;
  clip-path: polygon(0 0, 100% 0, calc(100% - 3.5rem) 100%, 0 100%);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: start;

  &__dark-blue {
    padding-right: 5.1rem;
    background-color: $color-blue-dark;
    color: $color-white;
    z-index: 2;
    backface-visibility: hidden;

    &:hover {
      background-color: $color-white;
      color: $color-blue-dark;
    }
  }
  &__light-blue {
    background-color: $color-blue-light;
    color: $color-white;
    z-index: 2;
    backface-visibility: hidden;

    &:hover {
      background-color: $color-white;
      color: $color-blue-light;
    }

    &:hover ~ .triangle {
      transform: translateY(-10rem);
      transform: translate(500%, 450%); /* Adjust position */
    }
  }

  &__text {
    text-align: center;
    &--span {
      display: inline-block;
      height: 1rem;
      width: 1.5rem;
      margin-left: 1rem;
      padding-bottom: 0.5rem;
      text-align: center;
    }
  }

  &__pink {
    margin-left: 0;
    padding: 1.5rem 2rem;
    padding-right: 18rem;
    background-color: $color-pink-dark;
    color: $color-white;
    z-index: 2;
    backface-visibility: hidden;

    &:hover {
      background-color: $color-white;
      color: $color-pink-dark;
    }
  }

  &__border {
    position: absolute;
    top: -3px;
    left: -3px;
    padding: 0;
    // border-width: 0.2rem;
    border-style: solid;
    pointer-events: none;

    z-index: 1;

    &--light {
      clip-path: polygon(0 0, 100% 0, calc(100% - 3.7rem) 100%, 0 100%);
      border: 2.9rem solid $color-blue-light;
      width: 32.5rem;
      backface-visibility: hidden;
    }

    &--dark {
      clip-path: polygon(0 0, 100% 0, calc(100% - 3.7rem) 100%, 0 100%);
      border: 2.9rem solid $color-blue-dark;
      width: 37.3rem;
      backface-visibility: hidden;
    }
  }

  &__img--mail {
    width: auto;
    transition: all 0.2s;
    backface-visibility: hidden;
  }

  &__img--mail:hover {
    content: url(../public/icn_mail_hover.svg);
  }
  &__img--mail:active {
    content: url(../public/icn_mail_down.svg);
  }
  &__img--pi {
    width: auto;
    transition: all 0.2s;
    backface-visibility: hidden;
  }

  &__img--pi:hover {
    content: url(../public/icn_pi_hover.svg);
  }
  &__img--pi:active {
    content: url(../public/icn_pi_down.svg);
  }

  &__text {
    text-transform: uppercase;
  }
}

.triangle {
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1.5rem solid $color-blue-light; /* Same color as the button */
  position: absolute;
  left: 0%; /* Center horizontally */
  top: 0%; /* Position below the button */
  transform: translate(500%, 400%); /* Adjust position */
  margin-top: 5px; /* Adjust space between button and triangle */
}

.second {
  &__wrapper {
    grid-column: 1 / 2;
    width: fit-content;
    margin-left: 9rem;
    z-index: 5;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
  }

  &__heading {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.6rem;
    background-color: $color-blue-light;
    color: $color-white;
    padding: 2rem 4rem;
  }
}

.form {
  background-color: #fff;
  margin: 0 auto;
  padding: 2rem 5rem 5rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;

  &__row--wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }

  &__group {
    display: flex;
    flex-direction: column;

    &--2 {
      flex: 1;
    }
  }

  &__input {
    padding: 2rem 4rem;
    background-color: #f9f9f9;
    border: none;
  }

  &__label {
    text-transform: uppercase;
    font-weight: 500;
    color: $color-blue-light;
    font-size: 1.6rem;
  }
}
