.first {
  &__heading {
    display: grid;
    grid-column: 1 /-1;
    grid-row: 1 / 2;
    background-color: $color-blue-dark;
    justify-items: end;
    align-content: center;

    &--link,
    &--link:visited {
      align-self: center;
      text-decoration: none;
      color: #fff;
      margin-right: 5rem;
      font-size: 1.6rem;
      font-weight: 400;
      padding: 1rem 2rem;
    }
  }
  &__title {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;

    margin-left: 5rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding: 1rem 4rem;
    font-size: 5rem;
    font-weight: 700;
    gap: 0.5rem;
    line-height: 1;
    border-right: 3px solid #ddd;
    color: $color-blue-dark;
  }

  &__logo {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-right: 5rem;
    margin-top: 2rem;
    // display: grid;
    align-content: center;
    justify-content: start;

    &--img {
      display: block;
      height: 100%;
      max-width: 50rem;
      object-fit: contain;
    }
  }
  &__ring {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    align-self: self-start;
    justify-self: end;
    transform: translateX(-65%) translateY(20%) rotate(330deg);
    &--img {
      width: 250%;
    }
  }
}

.btn__wrapper {
  &--1 {
    @extend %wrapper;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  &--2 {
    @extend %wrapper;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
}

.btn {
  margin-left: 9rem;
  position: relative;
  border: none;
  padding: 0.5rem 0.5rem;
  padding-right: 12.1rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.3s;
  clip-path: polygon(0 0, 100% 0, calc(100% - 3.5rem) 100%, 0 100%);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: start;

  &__dark-blue {
    padding-right: 5.1rem;
    margin-bottom: 10rem;
    background-color: $color-blue-dark;
    color: $color-white;
    z-index: 2;
    backface-visibility: hidden;

    &:hover {
      background-color: $color-white;
      color: $color-blue-dark;
    }
  }
  &__light-blue {
    background-color: $color-blue-light;
    color: $color-white;
    z-index: 2;
    backface-visibility: hidden;

    &:hover {
      background-color: $color-white;
      color: $color-blue-light;
    }
  }

  &__border {
    position: absolute;
    top: -3px;
    left: -3px;
    height: 100%;
    width: 100%;
    padding: 0;
    border-width: 0.2rem;
    border-style: solid;
    pointer-events: none;

    z-index: 1;

    &--light {
      clip-path: polygon(0 0, 100% 0, calc(100% - 3.7rem) 100%, 0 100%);
      border: 2.9rem solid $color-blue-light;
      width: 32.5rem;
      backface-visibility: hidden;
    }

    &--dark {
      clip-path: polygon(0 0, 100% 0, calc(100% - 3.7rem) 100%, 0 100%);
      border: 2.9rem solid $color-blue-dark;
      width: 37.3rem;
      backface-visibility: hidden;
    }
  }

  &__img--mail {
    width: auto;
    transition: all 0.2s;
    backface-visibility: hidden;
  }

  &__img--mail:hover {
    content: url(../public/icn_mail_hover.svg);
  }
  &__img--mail:active {
    content: url(../public/icn_mail_down.svg);
  }
  &__img--pi {
    width: auto;
    transition: all 0.2s;
    backface-visibility: hidden;
  }

  &__img--pi:hover {
    content: url(../public/icn_pi_hover.svg);
  }
  &__img--pi:active {
    content: url(../public/icn_pi_down.svg);
  }

  &__text {
    text-transform: uppercase;
  }
}
