.container {
  display: grid;
  grid-template-rows: 35% 65%;
}

.first {
  height: 70vh;
  // background-color: orangered;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(10%, min-content) 50% repeat(2, 15%);
}

.second {
  background-color: greenyellow;
}
