.container {
  display: grid;
  grid-template-rows: minmax(35%, max-content) minmax(65%, max-content);
  row-gap: 20rem;
}

.first {
  margin: 0 auto;
  grid-row: 1 / 2;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: minmax(10%, max-content) 60% repeat(2, 15%);
  row-gap: 2rem;
  column-gap: 5rem;
}

.second {
  background-color: transparent;
  grid-row: 2 / 3;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 80% 1fr;
  gap: 5rem;
}
